.pit {
  margin-bottom: 30px;
}

h2 {
  margin: 0;
  font-size: 16px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #6409A6;
  margin-bottom: 3px;
}

.pit-heading h2,
.pit-heading h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pit-type {
  font-weight: normal;
}

.pit-dataset {
  font-family: monospace;
  font-weight: normal;
}
